.text-class-1{

    margin-left: 10px;
    

}
h2,.p1:hover{

    color: rgb(61, 61, 61);

}
.Auflistung-main-top{

    font-family: 'Brush Script MT', cursive;
    font-size: 18px;

}
.p1{}

.li-1,.li-2{

    padding: 5px;

}
h1:hover{

    color: rgb(46, 46, 46);

}
.li-1:hover{
    color: rgb(46, 46, 46);
}
.li-2:hover{
    color: rgb(46, 46, 46);
}